[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
Django = "==2.2.21"
channels = "*"
channels-rabbitmq = "*"

[requires]
python_version = "3.6"

[scripts]
server = "python3 manage.py run server"
